.App {
    background-color: #AE53FB;
    font-family: 'Century Gothic';
    min-height: 100vh;
    pointer-events: none;
  }

.animation-0 {
  animation: picture-move-0 3s steps(1000);
  height: 20vmin;
}

.animation-1 {
  animation: picture-move-1 3s steps(1000);
  height: 20vmin;
}

.animation-2 {
  animation: picture-move-2 3s steps(1000);
  height: 20vmin;
}

.animation-3 {
  animation: picture-move-3 3s steps(1000);
  height: 20vmin;
}

@keyframes picture-move-0 {
  from { transform: translate(0px,0px)}
  to   { transform: translate(1000px,0px)}
}

@keyframes picture-move-1 {
  from { transform: translate(0px,200px)}
  to   { transform: translate(1000px,200px)}
}

@keyframes picture-move-2 {
  from { transform: translate(0px,400px)}
  to   { transform: translate(1000px,400px)}
}

@keyframes picture-move-3 {
  from { transform: translate(0px,550px)}
  to   { transform: translate(1000px,550px)}
}
